version: "3"

# The same Docker image is used, but two containers are deployed to demonstrate a multiple-microservice environment.
services:
  file-api:
    image: test/large-file-upload
    hostname: file-api
    container_name: file-api
    network_mode: bridge
    expose:
      - 8080
    ports:
      - 8081:8080
      - 18081:18080
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
    environment:
      FEIGN_SELFCLIENT_URL: http://localhost:8080
      UPLOAD_DIRECTORY: /uploads
      APPLICATION_ARGS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:18080
    volumes:
      - ./files:/uploads
  bridge-api:
    image: test/large-file-upload
    hostname: bridge-api
    container_name: bridge-api
    network_mode: bridge
    links:
      - file-api
    ports:
      - 8082:8080
      - 18082:18080
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
    environment:
      FEIGN_SELFCLIENT_URL: http://file-api:8080
      UPLOAD_DIRECTORY: /uploads
      APPLICATION_ARGS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:18080
    volumes:
      - ./files:/uploads