<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Large File Upload</h2>

<div>
    <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<h2>Bridged Large File Upload</h2>

<div>
    <form th:action="@{/bridge-upload-from}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>